body {
    background-color #FDF9F9;
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;

}
nav {
    border-bottom: yellow solid 10px;
    box-sizing: inherit;
    display: flex;
}
img {
    width: 20%;
    height: 20%;
}
ul {
    list-style: none;
}
.table {
    display: table;
    margin: 0 auto;
}
.menu-outer {
    height: 84px;
}
ul li {
    display: inline;
}