body {
    background-color:#F3EFEF;
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 400;
    display: block;
    
}
nav {
    border-bottom: yellow solid 10px;
    height: 52px;
    text-align: center;
}
img {
    width: 20%;
    height: 20%;
}
main img {
    width: 30%;
    height: 30%;
    float: right;
}
ul li {
    display: inline;
    padding: 12px;
    padding-bottom: 0%;
    font-weight: 700;
    background-color: #F3EFEF;
}
ul {
    padding-inline-start: 0px;
}
a {
    text-decoration: none;
    color: black;
}
main li {
    display: flex;
    padding: 0%;
    background-color: whitesmoke;
    font-weight: 400;
}
main {
    margin: 14.6%;
    margin-top: 0%;
    padding-top: 36px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 0%;
    padding-bottom: 12px;
    background-color: whitesmoke;
}
footer {
    background-color: #585757;
    margin: 0%;
    padding: 0%;
    padding-top: 12px;
    text-align: center;
    padding-bottom: 36px;
    
}
footer li {
    background-color: #585757;
}
