body {
    background-color:whitesmoke;
    margin: 0%;
    padding: 0%;
    font: ;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 400;
    display: block;
}
nav {
    border-bottom: yellow solid 10px;
    height: 52px;
    text-align: center;
}
img {
    width: 20%;
    height: 20%;
}
ul li {
    display: inline;
    padding: 12px;
    padding-bottom: 2px;
    padding-top: 48px;
    font-weight: 700;
    background-color: yellow;
}
a {
    text-decoration: none;
    color: black;
}
